.cell-output-display pre, .cell-output-stdout pre {
    background-color: #f9f9f2 !important;
}

.cell-output-stderr pre {
    background-color: #f9f2f2 !important;
}

div.cell-output-display, div.cell-output-stdout, div.cell-output-stderr {
    margin-left: 1em
}
